:host {
    display: flex;
    flex-direction: row;
    
    /* parent is a column */
    min-width: 1230px;
    height: 130px;
    min-height: 130px;
}

.hoursColumnDummy {
    display: flex;
    flex-direction: column;

    /* parent is a row */
    width: 40px;
    min-width: 40px;
    height: 130px; /* 100% of parent */
}

.dayHeader {
    display: flex;
    flex-direction: column;

    /* parent is a row */
    width: 170px;
    flex: 1; /* take the remaining horizontal space */
    min-width: 170px; /* but don't shrink below 170px */
    height: 130px; /* 100% of parent */

    justify-content: center;
    align-items: center;
}

.clickableDayHeader {
    display: flex;
    flex-direction: column;

    width: 130px;
    height: 120px;

    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.dayHeaderDay {
    font-size: 1rem;
    margin-bottom: 5px;
}

.dayHeaderDate {
    display: flex;

    min-height: 45px;

    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
}

.currentDay {
  width: 45px;
  height: 45px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200"><circle cx="105" cy="100" r="90" fill="none" stroke="%237390a5" stroke-width="10"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
}

.selectedDay {
  width: 45px;
  height: 45px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200"><circle cx="105" cy="100" r="90" fill="%237390a5"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}