:host {
    display: flex;
    flex-direction: column;

    /* parent is a row */
    width: 320px;
    height: 100vh;

    justify-content: center;
    align-items: center;

    background-color: #f7f7f7;
}

.datepickerCard {
    width: 300px;
    background-color: #f7f7f7;
    box-shadow: none;
}

.mat-calendar-body-selected {
    background-color: #7390a5;
}