<div class="day">
    <div class="dayHeader">
        <div class="dayHeaderDay">Δευτέρα</div>
        <div class="dayHeaderNumber">22</div>
    </div>
    <div class="dayContent">

    </div>
</div>
<div class="day">
    <div class="dayHeader">
        <div class="dayHeaderDay">Τρίτη</div>
        <div class="dayHeaderNumber">23</div>
    </div>
    <div class="dayContent">

    </div>
</div>
<div class="day">
    <div class="dayHeader">
        <div class="dayHeaderDay">Τετάρτη</div>
        <div class="dayHeaderNumber">24</div>
    </div>
    <div class="dayContent">

    </div>
</div>
<div class="day">
    <div class="dayHeader">
        <div class="dayHeaderDay">Πέμπτη</div>
        <div class="dayHeaderNumber">25</div>
    </div>
    <div class="dayContent">

    </div>
</div>
<div class="day currentDay">
    <div class="dayHeader">
        <div class="dayHeaderDay">Παρασκευή</div>
        <div class="dayHeaderNumber">26</div>
    </div>
    <div class="dayContent">

    </div>
</div>
<div class="day">
    <div class="dayHeader">
        <div class="dayHeaderDay">Σάββατο</div>
        <div class="dayHeaderNumber">27</div>
    </div>
    <div class="dayContent">

    </div>
</div>
<div class="day">
    <div class="dayHeader">
        <div class="dayHeaderDay">Κυριακή</div>
        <div class="dayHeaderNumber">28</div>
    </div>
    <div class="dayContent lastDay">
        <div class="hour" *ngFor="let hour of dayTimeHours">
            {{ hour }}:00
        </div>
    </div>
</div>