<div id="monday" class="day">
    <div id="mondayHeader" class="dayHeader">
        Δευτέρα 22
    </div>
    <div id="mondayContent" class="dayContent">

    </div>
</div>
<div id="tuesday" class="day">
    <div id="tuesdayHeader" class="dayHeader">
        Τρίτη 23
    </div>
    <div id="tuesdayContent" class="dayContent">

    </div>
</div>
<div id="wednsday" class="day">
    <div id="wednsdayHeader" class="dayHeader">
        Τετάρτη 24
    </div>
    <div id="wednsdayContent" class="dayContent">

    </div>
</div>
<div id="thursday" class="day">
    <div id="thursdayHeader" class="dayHeader">
        Πέμπτη 25
    </div>
    <div id="thursdayContent" class="dayContent">

    </div>
</div>
<div id="friday" class="day">
    <div id="fridayHeader" class="dayHeader">
        Παρασκευή 26
    </div>
    <div id="fridayContent" class="dayContent">

    </div>
</div>
<div id="saturday" class="day">
    <div id="saturdayHeader" class="dayHeader">
        Σάββατο 27
    </div>
    <div id="saturdayContent" class="dayContent">

    </div>
</div>
<div id="sunday" class="day">
    <div id="sundayHeader" class="dayHeader">
        Κυριακή 28
    </div>
    <div id="sundayContent" class="dayContent">

    </div>
</div>