:host {
    display: flex;
    flex-direction: row;
    
    /* parent is a column */
    /*width: calc(100vw - 250px);*/ /* 100% of parent */
    height: 130px;
}

.hoursColumnDummy {
    display: flex;
    flex-direction: column;

    /* parent is a row */
    width: 40px;
    min-width: 40px;
    height: 130px; /* 100% of parent */
}

.dayHeader {
    display: flex;
    flex-direction: column;

    /* parent is a row */
    width: 170px;
    flex: 1; /* take the remaining horizontal space */
    min-width: 170px; /* but don't shrink below 170px */
    height: 130px; /* 100% of parent */

    justify-content: center;
    align-items: center;
}

.dayHeaderDay {
    font-size: 1rem;
    margin-bottom: 5px;
}

.dayHeaderDate {
    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
}

.circle-bg {
  width: 35px;
  height: 35px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200"><circle cx="100" cy="100" r="100" fill="%237390a5"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}