:host {
    display: flex;
    flex-direction: row;

    /* parent is a column */
    width: calc(100vw - 320px); /* 100% of parent */
    height: 50px;    

    background-color: #f7f7f7;
}

i, .current-month, .dummy-element {
    margin: 0 0.5rem;
}

i, .current-month {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    height: 100%;
    
    font-size: 1.7rem;
}

i {
    width: 4rem;
    
    color: #4d4d4d;
}

i:hover {
    color: #000;
    cursor: pointer;
}

.current-month, .dummy-element {
    width: 270px;
}

@media (max-width: 1099px) {
    :host {
        justify-content: flex-start;
    }

    .current-month, .dummy-element {
        width: auto;
    }

    .dummy-element {
        margin: 0;
    }
}
