:host {
    display: flex;
    flex-direction: row;

    height: 150px;
    width: 100%;

    background-color:  rgb(250, 250, 250);
}


#daysOfTheWeekHeaders {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;

    justify-content: space-evenly;

    overflow-x: scroll;
}

.dayHeader {
    display: flex;
    flex-direction: column;

    width: 14%;
    min-width: 170px;

    border-right: 2px solid rgb(242, 242, 242);
}